body{
    background-color: #212121;
    font-family: "Oxygen";
    /* background: linear-gradient(-45deg, #BFD641, #62e251, #e62aaa, #7b33aa);
    background-color:#6402a5; */
    margin-top: 0;
}
h1{
    font-size: 91px;
    /* color: #16ff00; */
    color: #1ed760;
    font-weight: bold;
    margin-left: 40px;
}
h2{
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.lable{
    font-size: 28px;
    color: white;
    font-weight: normal;
}
.first-heading{
    margin-top: 30px;
}
.col-span-1-of-3{
    float: left;
    margin: 0 2%;
}
.pictures{
    margin-left: 120px;
}
.artist {
    border-radius: 50%;
    height: 320px;
    width: 320px;
  }
.song {
    height: 320px;
    width: 320px;
  }
.img1{
    margin: 0 50px;
}
